.friend{
	width: 30%;
	text-align: center;
}

.friendImg{

}

.friendImg img{
	display: inline-block;
	width: 100%;
	
}

.friendName{
	color: #ffffff;
	text-decoration: none;
}

.activeLink{
	color: #00BFFF;
	font-weight: 700;
}