.formControl{

}

.formControl.error textarea {
     border: 2px solid red;
}

.formControl.error span {
    color: red;
    font-size: 20px;
}

.formSummaryError{
    color: red;
    padding: 5px;
    font-size: 18px;
    font-width: bold;
}