.header{
	grid-area: h;
	background-color:#231F20;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;;
}

.formGroup{

}

.search{
	background: rgba(255,255,255, 0.2);
	border: 0;
	box-shadow: none;
	min-width: 235px;
	color: #fff;
	height: 26px;
	border-radius: 13px;
	font-size: 13px;
	padding-left: 10px;	
}

