.header{
	background-color:#363c43;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;
	color: white;
}

.loginBlock a{
	color: white;
	text-decoration: none;
}

.loginBlock span{
	font-weight: bold;
}

.loginBlock .loginBtn{
	margin-left: 15px;
	background-color: #e7e7e7;
	border: none;
	color: black;
	padding: 6px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.loginBlock .loginBtn:hover{
	background-color: white;
	color: black;
}

@media (max-width: 600px){
	.header{
		flex-flow: column;
	}
	.loginBlock{
		margin-top: 15px;
	}
}
