.app-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.content{
    display: flex;
}

.app-wrapper-content{
    flex: 6;
    background-color: #f0efef;
    padding: 10px 20px;
}

@media (max-width: 840px) {
    .content{
        flex-flow: column;
    }
}