.dialogs{
	display: grid;
	grid-template-columns: 2fr 10fr;
	padding: 10px;
}

.dialogsItems{
	margin-left: 10px;
}

.dialogsItems .active{
	color: rgb(155, 180, 66);
	font-weight: 800;
}

.dialog {
	text-decoration: none;
	color: black;
}

.messages{
	padding: 0 20px 0 20px;
	border-left: 2px solid black;
}